{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
<head>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="{% static 'js/index.js' %}"></script>
</head>

<body>
<form id="event_add" method="POST">
{% csrf_token %}
{{ form.media }}
{{ form.event_name }}<br><br>
{{ form.start_date}} {{ form.start_time }} - {{ form.end_time }} {{ form.end_date }}<br><br>
All day: {{ form.all_day }}<br><br>
{{ form.color }}<br><br>
<button type="submit">Add</button>
</form>
</body>
</html>